.card
{
    background-color:rgb(209, 224, 243);
    padding: 1rem;
    width: 45rem;
    border-radius: 8px;
    box-shadow:0 2px 10px black;
    margin: 2rem auto;

}
@media screen  and (max-width:600px){
    .card{
        width: 25rem;

    }
    
}
