.button{
    width: 10rem;
    padding: 0.3rem;
    margin-top: .5rem;
    margin-left: .2rem;
    margin-right: 4rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: rgb(24, 23, 23);
}
.button:hover,
.button:active{
    cursor: pointer;
    background-color: rgb(157, 165, 232);
    border-color: rgb(157, 165, 232);
}

/* table.table-fit {
    width: auto !important;
    table-layout: auto !important;
  }
  table.table-fit thead th,
  table.table-fit tbody td,
  table.table-fit tfoot th,
  table.table-fit tfoot td {
    width: auto !important;
  } */

