.form {
    padding: 1rem;
    background-color:rgb(209, 224, 243);
    width: 35rem;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0 10px 10px black(0, 0, 0.2);
    margin: 12rem auto;
}
.heading{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
.form input{
    padding: .5rem;
    width: 30rem;
    border-radius: 0.5rem;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.form button{

        width: 30rem;
        padding: 0.6rem;
        margin: auto;
        margin-left: 1rem;
        border-radius: 0.7rem;
        font-size: 1.3rem;
        color: rgb(24, 23, 23);
}

.form button:hover,
.form button:active{
    cursor: pointer;
    background-color: rgb(157, 165, 232);
    border-color: rgb(157, 165, 232);
}
.form h5{
    font-size: 1rem;
   padding: 1rem;
   margin-left: 1rem;

}
.links{
 
    text-decoration:none;
    margin-left: .5rem;
    font-size: 1rem;
    color:red;
}

.links:hover{
        text-decoration: none;
        cursor: pointer;
        color: #1b3e5a;
}
.messages{
    display: flex;
    justify-content: center;
    }
    
.error{
    display: block;
    background-color: red;
    color: white;
    
    }
.error h1{
    font-size: 25px;
}

.success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    }
    .passwordContainer{
        position: relative;
        display: flex;
        align-items: center;
    }
    .passwordToggle{
        /* cursor: pointer; */
        position: absolute;
        right: 3rem;
        margin-bottom: 1rem;
    }

    @media screen and (max-width:600px) {
        .form{
            width: 25rem;
        }
        .form input{
            width: 22rem;
        }
        .form button{
            width: 19rem;
        }
        .passwordToggle{
            cursor: pointer;
            right:1rem
        }
    }