.search{
    padding: 12px;
    border: 1px solid black;
    background-color: rgb(157, 157, 157);
    border-radius: 4px;
     margin: 2rem auto 2rem auto;
     width: 38rem;
}

.ais-SearchBox-form{
  background-color: black;
}
.ais-SearchBox-input{ 
   background-color: red;
}
.buttons{
    width: 12rem;
    padding: 0.3rem;
    margin-top: .5rem;
    margin-left: .2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: rgb(24, 23, 23);
    border-color: black;
    background-color: white;
    text-transform:capitalize;

}
.buttons:hover{
    cursor: pointer;
    background-color: rgb(142, 148, 205);
    border-color: rgb(157, 165, 232);
}
.form h3{
    text-align: center;
    /* margin: .5rem; */
    /* text-decoration: underline; */
    background-color:rgb(209, 224, 243);
    padding: 10px;
    width: 15rem;
    border-radius: 8px;
    box-shadow:0 2px 10px black;
    margin: 2rem auto;
    color: black;
     
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 2rem;
}

.leftData {
  width: 50%;
  margin-left: 5rem;
}

.rightData {
  width: 50%;
}
.pagination1{
 font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
}
.totalAmount{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
   margin-left: 80rem;
}
.shopData{
  background-color: red;
}
 
@media screen and (max-width:800px) {
  .search{
    width: 30rem;
  }

  .leftData {
    width: 50%;
    margin-left: 5rem;
  }
  .totalAmount{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
     margin-left: 30rem;
  }
  
}


.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Full viewport height */
  text-align: center;
}

.message {
  background-color: skyblue;
  padding: 20px;
  border-radius: 10px;
  width: 34rem;
  font-size: 1.2rem;
}

.centerButton {
  margin-top: 20px;
}
