.form {
    transform: translate(20%,20%);
    padding: 1rem;
    margin: '3rem';
    background-color:rgb(220, 128, 128);
    height: 40rem;
    width: 30rem;
    border-radius: 8px;
    box-shadow: 0 10px 10px black(0, 0, 0.2);
    /* margin-left:10rem */
}
.form button:hover,
.form button:active{
    background-color: rgb(23, 209, 16);
    border-color: black;
}
.form h5{
    font-size: 1.5rem;
}
.link{
 
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.5rem;
}
/* .h1{
    font-size: 9rem;
    margin-left: 10rem;}  */

.form label{
    display: block;
    font-size: larger;
    color: black;
    padding: 5px;
    }
.form input{
    /* padding: 1rem; */
    width: 25rem;
    border-radius: 0.5rem;
    font-size: larger;
    padding: 5px;
    /* margin: 2px; */
    
    }
.btn{
        background-color: white;
        width: 25rem;
        padding: 0.6rem;
        margin: 22px;
        margin-left: 0rem;
        border-radius: 0.7rem;
        font-size: 1.3rem;
        color: black;
        display: block;
        }
.messages{
    display: flex;
    justify-content: center;
    }
    
.error{
    display: block;
    background-color: red;
    color: white;
    
    }
.error h1{
    font-size: 25px;
}

.success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    }