
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.button {
  width: 20rem;
  padding: 0.3rem;
  margin-top: .1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: rgb(24, 23, 23);
  margin-bottom: 2rem;

}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: rgb(157, 165, 232);
  border-color: rgb(157, 165, 232);
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; 
  text-align: center;
}

.message {
  background-color: skyblue;
  padding: 20px;
  border-radius: 10px;
  width: 34rem;
  font-size: 1.5rem;
}

.edit:hover,
.delete:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .button {
    width: 15rem;
    margin-top: 0.5rem;
  }
  .message {
    width: 15rem;
  }
}
